<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.0" targetFramework="net48" />
  <package id="Fody" version="6.0.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="3.2.5" targetFramework="net48" developmentDependency="true" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.112.1" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.1" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.1" targetFramework="net48" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net46" />
</packages>